.flight-manifest-alert{
  background-image: url("../img/svg/plane.svg");
  min-height: 24px;
  min-width: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.discussion{
  background-image: url("../img/svg/discussion.svg");
  min-height: 24px;
  min-width: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.points{
  background-image: url("../img/svg/points.svg");
  min-height: 24px;
  min-width: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.airplane{
  background-image: url("../img/svg/airplane.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 32px;
  width: 32px;
  background-color: white;
}
.info-btn{
  background-image: url("../img/svg/Star.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
.commercial{
  background-image: url("../img/svg/commercial.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 32px;
  width: 32px;
}
.missions-available-view{
  max-width: 1200px;
}
